{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="container">
    <div class="card border border-secondary" style="width: 23rem;">
        <div class="card-body">
            {% if street.current %}

            <div class="card-title text-center bg-primary border border-secondary text-white">
                Current Street<br />
                <h2>{{street.full_name}} </h2>
            </div>
            {% else %}
            <div class="card-title text-center bg-secondary border border-secondary text-white">
                {{street.retirement_info() }}<br />
                <h2>
                    {{street.full_name}} </h2>
            </div>
            {% endif %}
            <h4 class="card-subtitle">{{street.grid_location}}{{street.grid_direction}} | from
                {{street.min_address}}
                to
                {{street.max_address}}
            </h4>
            {% if current_user and current_user.is_authenticated %}
            <a href="edit">(edit)</a>
            {% endif %}
            <div>{{street.historical_note}}</div>
            <!-- <div>dates: {{street.start_date}}
                {{street.end_date}}
            </div> -->

        </div>
    </div>


    <div class="row">
        {% if street.predecessor_changes().count() %}
        <div class="card" style="width: 23rem;">
            <div class="card-body">
                <h4 class="card-title ">Predecessors</h4>
                <ul>
                    {% for page in street.predecessor_changes() %}
                    <ul><a href="/street/{{page.from_street.street_id}}">{{page.from_street.full_name}}</a>
                        ({{page.from_street.short_info()}})
                    </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if street.successor_changes().count() %}
        <div class="card" style="width: 23rem;">
            <div class="card-body">
                <h4 class="card-title ">Successors</h4>

                <ul>
                    {% for page in street.successor_changes() %}
                    <li><a href="/street/{{page.to_street.street_id}}">{{page.to_street.full_name}}</a>
                        {{page.to_street.short_info()}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if street.similar_streets().count() %}
        <div class="card" style="width: 23rem;">
            <div class="card-body">
                <h4 class="card-title ">Similarly named streets</h4>

                <ul>
                    {% for street in street.similar_streets() %}
                    <li><a href="/street/{{street.street_id}}">{{street.full_name}}</a> {{street.short_info()}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    <div>
        <h5 class="card-title">Notes from the CHS street history document:</h5>
        <code>{{street.text}}</code>
    </div>
    <div>
        <h5>Edit history</h5>
        {% for edit in street.edits %}
        {{edit.timestamp}} {{edit.user}} {{edit.note}}<br> {% endfor %}
    </div>
</div>
{% endblock %}