{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->





<script>
  if (typeof ($.fn.popover) != 'undefined') {
    alert("uh oh");
  }
</script>
<div class="container">

  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/street/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <i class="fas fa-road"></i>
        <span class="fs-4">Chicago streets {{year_str}}</span>
      </a>

      <form method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 ">
        <div class="row g-2">

          <div class="col-md">
            <div class="form-floating">
              {{search_form.name(class="form-control", placeholder="xxxx")}} {{search_form.name.label}}
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              {{search_form.year(class="form-control", style="width:5em;")}}{{search_form.year.label}}

            </div>
          </div>
          <div class="col-md">
            <input type="submit">
          </div>
        </div>
      </form>
    </div>
  </header>
  {%if total_count %}
  <p>{{total_count}} streets found</p>
  {% endif %}
  <div class="accordion" id="accordionExample">
    <div class="card">

      {% for street_group in current_streets %}

      <div class="card-header" id="heading{{loop.index}}">
        <h4 class="mb-0">
          <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}"
            aria-expanded="false" aria-controls="collapse{{loop.index}}">
            {{street_group[0].name}} - {{street_group[-1].name}}
          </button>
        </h4>
      </div>
      <div id="collapse{{loop.index}}" class="collapse {%if loop.index == 1 %}show{% endif %}"
        aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionExample">
        <div class="card-body row">
          {% for subgroup in street_group|batch(25) %}

          <div class="col-sm">
            <ul>
              {% for street in subgroup %}
              <li><a href="{{ url_for('street.view_street', tag=street.street_id) }}">{{street.full_name}}
                </a>{{street.short_tag()}}</li>
              {% endfor %}
            </ul>
          </div>

          {% endfor %}
        </div>
      </div>


      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}