{% extends "layout.html" %}


{% macro validated_field(field) -%}
{% if field.errors %}

{{ field(class_="form-control is-invalid") }}
{% for error in field.errors %}
<div class="invalid-feedback">
    {{error}}
</div>
{% endfor %}
{% else %}
{{ field(class_="form-control") }}
{% endif %}

{%- endmacro %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/street/">Streets</a></li>
            <li class="breadcrumb-item"><a href="#">Lists</a></li>

            <li class="breadcrumb-item" aria-current="page"><a
                    href="{{url_for('street.view_streetlist', streetlist_id=streetlist.id)}}">
                    {{streetlist.name}}
                    ({{streetlist.date.year}})</a></li>
            <li class="breadcrumb-item active">edit</li>

        </ol>
    </nav>
    <h2>{{streetlist.name}} - {{streetlist.year}}</h2>

    <form method="post">
        {{ street_list_form.csrf_token }}
        <h2>Editing {{streetlist.name}}</h2>
        <div class="row">
            <div class="col">
                <h3>Street List Info</h3>
                <table>

                    <tr>
                        <td><label for="name">Name</label></td>
                        <td>
                            {% if street_list_form.name.errors %}

                            {{ street_list_form.name(class_="form-control is-invalid") }}
                            {% for error in street_list_form.name.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% else %}
                            {{ street_list_form.name(class_="form-control") }}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td><label for="date"></label>Date</label></td>

                        <td>
                            {{street_list_form.date(class_="form-control")}}

                        </td>


                    </tr>

                    <tr>
                        <td><label for="url">URL</label>

                        </td>
                        <td class="align-top">
                            {{validated_field(street_list_form.url)}}
                        </td>
                    </tr>
                    <tr>
                        <td><label for="url">Text</label>

                        </td>
                        <td class="align-top">
                            {{validated_field(street_list_form.text)}}
                        </td>
                    </tr>


                </table>

                <h3>Streets</h3>
                <table class="table table-sm">

                    <tbody>
                        {% for subgroup in streetlist.sorted_entries()|batch(4) %}

                        <tr>
                            {% for entry in subgroup %}
                            <td>{{entry.street.full_name}} <i>
                                    {{entry.street.grid_info()}} {{entry.street.short_tag()}}</i>

                                <a class="btn-danger" href="{{url_for('street.remove_street_from_streetlist',
                                    entry_id=entry.id, streetlist_id=streetlist.id)}}">✗</a>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>add a new entry</th>
                            </tg>
                        </tr>

                        <tr>
                            <td><input class="autocomplete" id="street_search">
                                <input type="hidden" name="new_entry_street" id="street_search-id">
                            </td>

                        </tr>
                    </tbody>
                </table>




                {% if street_list_form.errors %}
                <ul class="errors">
                    {% for error, value in street_list_form.errors.items() %}
                    <li>{{ error }} {{value}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <input class="btn btn-primary" type="submit" value="submit">
            </div>

        </div>
    </form>





</div>
{% endblock %}