{% extends "layout.html" %}

{% block css %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{street.full_name}} – {{street.retirement_info()}}">
<meta name="twitter:description" content="{{street.historical_note}}">
<meta name="twitter:image"
    content="https://chicitydir.us-east-1.linodeobjects.com/streets/maps/{{street.street_id}}.png">
{% endblock %}

{% block page_title %}
chicagocity.directory / {{street.full_name}}
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="container">

    {% if street.current %}

    <h3>Current Street</h3>
    <h1 class="display-4">{{street.full_name}} </h1>

    {% else %}
    <h3>{{street.retirement_info() }}</h3>
    <h1 class="display-4">
        {{street.full_name}} </h1>

    {% endif %}
    <h4>{{street.grid_location}}{{street.grid_direction}} | from
        {{street.min_address|default("___", true)}}
        to
        {{street.max_address|default("___", true)}}
    </h4>
    {% if street.start_date or street.end_date or street.current %}
    {% if street.current %}
    <h4>{{street.start_date_info()|default("?", true)}} - present</h4>

    {% else %}
    <h4>{{street.start_date_info()|default("?", true)}} – {{street.end_date_info()}}</h4>
    {% endif %}

    {% endif %}
    {% for annex in street.annexations() %}
    <h5>Possibly part of the {{annex.name}} annexation in {{annex.year}}.</h5>
    {% endfor %}
    <div>{{street.historical_note}}</div>

    <div class="container px-4 py-5" id="icon-grid">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

            {% if street.tags %}
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0">Tags</h4>
                    <ul class="list-group list-group-flush">
                        {% for tag in street.tags %}
                        <li class="list-group-item"><i class="fas fa-tag"></i><a
                                href="{{ url_for('street.view_tag', tag=tag) }}">{{tag}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="card d-flex align-items-start">
                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"> <i class="fas fa-map-marked"></i>
                        Location</h4>
                    <img width="250px"
                        src="https://chicitydir.us-east-1.linodeobjects.com/streets/maps/{{street.street_id}}.png">
                </div>
            </div>
            {% if street.predecessor_changes().count() %}
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-arrow-alt-circle-left"></i> Predecessors</h4>
                    <ul class="list-group list-group-flush">
                        {% for page in street.predecessor_changes() %}
                        <li class="list-group-item"><a
                                href="{{ url_for('street.view_street', tag=page.from_street.street_id) }}">{{page.from_street.full_name}}</a>
                            {{page.from_street.short_tag()}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if street.successor_changes().count() %}
            <div class="card  d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-arrow-alt-circle-right"></i> Successors</h4>
                    <ul class="list-group list-group-flush">
                        {% for page in street.successor_changes() %}
                        <li class="list-group-item"><a
                                href="{{ url_for('street.view_street', tag=page.to_street.street_id) }}">{{page.to_street.full_name}}</a>
                            {{page.to_street.short_tag()}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if street.street_lists() %}
            <div class="card  d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-list"></i>Appears in
                    </h4>
                    <ul class="list-group list-group-flush">
                        {% for list in street.street_lists() %}
                        <li class="list-group-item"><a
                                href="{{url_for('street.view_streetlist', streetlist_id=list.id)}}">
                                {{list.name}} ({{list.date.year}})</a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if street.stored_maps() %}

            <div class="card  d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-atlas"></i>Might appear within
                    </h4>
                    <ul class="list-group list-group-flush">
                        {% for map in street.stored_maps() %}
                        <li class="list-group-item"><a target="_blank" href="{{map.url}}"> {{map.name}}</a>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if street.data_issues() %}
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-clipboard-check"></i> Data Issues</h4>
                    <ul class="list-group list-group-flush"> {% for issue in street.data_issues() %}
                        <li class="list-group-item list-group-item-{{issue.level}}"><i class="{{issue.icon}}"></i>
                            {{issue.issue}}</li> {% endfor %}
                    </ul>
                    {% if current_user and current_user.is_authenticated %}
                    <a class="btn btn-primary" href="edit">edit</a>
                    {% else %}
                    <a class="btn btn-primary" href="{{url_for('public.register')}}">create an account to edit</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

            {% if street.similar_streets().count() %}
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"> <i class="fas fa-eye"></i> Similarly named streets</h4>
                    <ul class="list-group list-group-flush">
                        {% for similar_street in street.similar_streets() %}
                        <li class="list-group-item"><a
                                href="{{ url_for('street.view_street', tag=similar_street.street_id) }}">{{similar_street.full_name}}</a>
                            {{similar_street.short_tag()}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if street.streets_with_same_grid() %}
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"> <i class="fas fa-unlink"></i> Aligned Streets</h4>
                    <ul class="list-group list-group-flush">
                        {% for similar_street in street.streets_with_same_grid() %}
                        <li class="list-group-item"><a
                                href="{{ url_for('street.view_street', tag=similar_street.street_id) }}">{{similar_street.full_name}}</a>
                            {{similar_street.short_tag()}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-book-reader"></i> Source Notes</h4>
                    <p>{{source_notes|safe}}</p>
                </div>
            </div>
            <div class="card d-flex align-items-start">

                <div class="card-body">
                    <h4 class="card-title fw-bold mb-0"><i class="fas fa-history"></i> Edit History</h4>
                    <ul class="list-group list-group-flush"> {% for edit in street.edits|reverse %}
                        <li class="list-group-item small">{% if edit.timestamp %}
                            {{edit.timestamp.date()}} | <i>{{edit.user.username}}</i> | {{edit.note}}<br>
                            {% else %}
                            import | <i>{{edit.user.username}}</i> | {{edit.note}}<br>

                            {% endif %}</li>
                        {% endfor %}

                    </ul>
                </div>
            </div>


        </div>
    </div>





</div>
{% endblock %}