{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1 class="mt-5">About</h1>
  <div class="row">
    <p class="lead">This is a collaborative effort.</p>
  </div>
  <div class="row">
    <h2>Recent Changes:</h2>
    <ul class="list-group">
      <li class="list-group-item">May 25, 2022:
        <ul>
          <li>Now reports out on "aligned" or potential "broken-link" streets, those on the same grid.</li>
        </ul>
      <li class="list-group-item">May 21, 2022:
        <ul>
          <li>Should be able to tell when a street could appear on a linked map (Sanborns @ LoC for now) based on
            geography and year.</li>
        </ul>
      </li>
      <li class="list-group-item">May 9, 2022:
        <ul>
          <li>Now knows the historic city limits and will use them to highlight the contemporary limits of the city when
            drawing maps for streetlists that have a year.</li>
        </ul>
      </li>
      <li class="list-group-item">May 6, 2022:
        <ul>
          <li>Added the ability to <a href="/streets/tags/">browse tags.</a></li>
          <li>Now generates a map for each tag.</li>
        </ul>
      </li>
    </ul>
  </div>

</div>
{% endblock %}