{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">


      <div class="container-fluid py-5">



        <h1 class="display-5 fw-bold">Welcome to chicago city directories</h1>
        <p class="col-md-8 fs-4">This is a website for the online Chicago history community to come together and build a
          searchable
          database of
          historical Chicago city directory data, including
          a street-naming and numbering historical dataset.</p>

        <p class="col-md-8 fs-4" style="color:red">This site is currently in <b>preview/development status</b> and any
          changes you make might not be
          preserved. Please provide any comments/feedback to tew@introvert.net or @tewhalen on twitter</p>
      </div>
    </div>
  </div>
</div><!-- /.jumbotron -->


{% endblock %}