{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/dir/">Directories</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{directory.name}} - {{directory.year}}</li>
        </ol>
      </nav>
    <h2>{{directory.name}} - {{directory.year}}</h2>

      <a href="/dir/{{directory.tag}}/streetlist">list of streets</a>
    <h3>Pages</h3>
    {% for page in directory.pages %}
    <div><a href="/dir/{{directory.tag}}/p/{{page.number}}">{{page.number}}</a></div>
    {% endfor %}

    <div class="card">
        <div class="card-body">
        <h4 class="card-title"> upload a new page</h4>
        <form class="form-inline" id="loginForm" method="POST" enctype="multipart/form-data"
            action="{{ url_for('dir.upload_csv', tag=directory.tag) }}" role="login">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div></div>
</div>
{% endblock %}